# It is best to ignoring editor and system files in a local .gitignore configuration file.
# However, in order to prevent issues, they are ignored here.
.DS_STORE
.idea
.vscode/*
*.log
build
node_modules
package-lock.json
