build
/build
**/build
build/*

storybook-static
/storybook-static
**/storybook-static
storybook-static/*

node_modules
/node_modules
**/node_modules
node_modules/*

dist
/dist
**/dist
dist/*

lib
/lib
**/lib
lib/*

.DS_STORE
.idea
*.log
package-lock.json

